%h1 Recepten

= form_tag sessions_path, class: 'form-horizontal' do
  .form-group
    = label_tag :email, 'Email', class: 'control-label col-sm-2'
    .col-sm-10
      = email_field_tag :email, params[:email], class: 'form-control'
  .form-group
    = label_tag :password, 'Wachtwoord', class: 'control-label col-sm-2'
    .col-sm-10
      = password_field_tag :password, nil, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        = label_tag :remember_me do
          = check_box_tag :remember_me, 1, params[:remember_me]
          Onthoudt mij
  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag "Log in", class: 'btn btn-primary'
      of
      = link_to 'Naar de recepten', :root, class: 'btn btn-default'
