%h1
  Recepten
  - if params[:tag]
    met tag '#{params[:tag]}'
    = link_to 'Bekijk alle', :recipes, class: 'small'
  .pull-right
    - if logged_in?
      = link_to 'Nieuw recept', [:new, :recipe], class: 'btn btn-success btn-xs'
      = link_to 'log out', :logout, class: 'btn btn-primary btn-xs'
    - else
      = link_to 'log in', :login, class: 'btn btn-primary btn-xs'

%table.table.table-striped
  %thead
    %tr
      %th Naam
      %th Bereidingstijd
      %th Van
      %th &nbsp;
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td
          = recipe.name
          - recipe.tag_list.each do |tag|
            = link_to [:recipes, tag: tag] do
              %span.label.label-primary= tag
        %td #{recipe.duration}min
        %td= recipe.user.name
        %td
          = link_to 'bekijk', recipe, class: 'btn btn-default btn-xs'
          - if logged_in?
            = link_to 'bewerk', [:edit, recipe], class: 'btn btn-default btn-xs'

