%table.table.table-striped
  %thead
    %tr
      %th Naam
      %th &nbsp;
      %th Bereidingstijd
      %th Weight Watchers score
      %th Van
      %th &nbsp;
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td
          = link_to recipe.name, recipe
        %td.tags
          - recipe.tag_list.each do |tag|
            = link_to [:recipes, tag: tag] do
              %span.label.label-primary= tag
        %td #{recipe.duration}min
        %td= recipe.weight_wacthers_score > 0 ? recipe.weight_wacthers_score : "N/A"
        %td= recipe.user.name
        %td
          = link_to 'bekijk', recipe, class: 'btn btn-default btn-xs'
          - if logged_in?
            = link_to 'bewerk', [:edit, recipe], class: 'btn btn-default btn-xs'

