%h2 Voeg een recept toe

.panel.panel-default
  .panel-body
    = simple_form_for @recipe, html: { class: 'form-horizontal' } do |form|
      = form.input :name, label: 'Naam recept'
      = form.input :people, label: 'Aantal mensen'
      = form.input :duration, label: 'Bereidingstijd', wrapper: :group, append: 'min'
      = form.input :instructions
      = form.submit_with_cancel
