%h2
  = @recipe.name
  %small
    - @recipe.tag_list.each do |tag|
      = link_to [:recipes, tag: tag] do
        %span.label.label-primary= tag

.panel.panel-info
  .panel-heading
    Info
  .panel-body
    %p Recept voor #{@recipe.people} personen
    %p Duurt ongeveer #{@recipe.duration}min om klaar te maken

.panel.panel-default
  .panel-heading
    %h4 Ingrediënten
  .panel-body
    - @recipe.ingredient_groups.each do |ingredient_group|
      %h5= ingredient_group.name
      %ul
        - ingredient_group.ingredients.each do |ingredient|
          %li #{ingredient.quantity} #{ingredient.name}

.panel.panel-default
  .panel-heading
    %h4 Bereiding
  .panel-body= Kramdown::Document.new(@recipe.instructions).to_html.html_safe

.panel.panel-default
  .panel-heading
    %h4 Links
  .panel-body
    - @recipe.links.each do |link|
      = link_to link.url, link.url, target: '_blank'

= link_to 'Bewerk', [:edit, @recipe], class: 'btn btn-primary btn-sm'
= link_to 'Terug naar overzicht', :recipes, class: 'btn btn-default btn-sm'
