!!!
%html
  %head
    %title Recipes
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1' }
  %body
    - if flash[:notice]
      .alert.alert-info= flash[:notice]
    - if flash[:alert]
      .alert.alert-warning= flash[:alert]
    - if flash[:error]
      .alert.alert-danger= flash[:error]
    - if flash[:success]
      .alert.alert-success= flash[:success]
    .container
      %h1
        = link_to 'Recepten', :root
        - if params[:tag]
          met tag '#{params[:tag]}'
          = link_to 'Bekijk alle', :recipes, class: 'small'
        .pull-right
          - if logged_in?
            = link_to 'Nieuw recept', [:new, :recipe], class: 'btn btn-success btn-xs'
            = link_to 'log out', :logout, class: 'btn btn-primary btn-xs'
          - else
            = link_to 'log in', :login, class: 'btn btn-primary btn-xs'
      = yield
